<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>芝士YELLOW-点歌台</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <link href="/css/common-style.css" rel="stylesheet">
    <script src="/js/canvas/canvas-particle.js"></script>
    <script src="/js/common.js"></script>
    <style>
        .box {
            width: 300px;
            overflow: hidden;
        }

        .animate {
            display: inline-block;
            white-space: nowrap;
            animation: 10s wordsLoop linear infinite normal;
        }

        @keyframes wordsLoop {
            0% {
                transform: translateX(200px);
                -webkit-transform: translateX(200px);
            }
            100% {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
            }
        }

        @-webkit-keyframes wordsLoop {
            0% {
                transform: translateX(200px);
                -webkit-transform: translateX(200px);
            }
            100% {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
            }
        }

        .song-from a {
            color: white;
        }
        .song-from a:hover {
            color: limegreen;
        }

        #responseText {
            border: 1px solid #a9a9a9;
            overflow: auto;
            font-size: 14px;
            outline: none;
            background-color: #f2f2f2;
            height: 800px;
            resize: none;
        }
    </style>
</head>
<body id="mydiv">
    <div th:replace="commons/common::header(4)"></div>
    <div style="height: 20px;"></div>
    <div class="context row">
        <div class="panel large-9 columns">
            <div class="large-4 columns">
                <img id="table-image" src="/images/cover.jpg" style="width: 250px;height: 250px;">
            </div>
            <div class="large-8 columns">
                <div class="box">
                    <h3 id="table-title" class="subheader animate"><i class="fa fa-headphones"></i>&nbsp;暂无播放</h3>
                </div>
                <div class="song-from">
                    <a id="table-account">来自&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>xKriss</a>
                </div>
                <div class="song-from" style="margin-top: 10px;">
                    <a id="table-toname">送给&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>Juan</a>
                </div>
                <div style="margin-top: 10px;">
                    <span class="label radius" style="font-size: 10px;">leave message</span>
                    <p id="table-message"></p>
                </div>
            </div>
            <div style="margin-top: 300px;">
                <div class="song-hover-title">
                    <b class="large-7 columns song-title-style">&nbsp&nbsp&nbsp&nbsp歌曲</b>
                    <b class="large-2 columns song-title-style">&nbsp;</b>
                    <b class="large-2 columns song-title-style">歌手</b>
                    <b class="large-1 columns song-title-style">时长</b>
                </div>

                <div th:each="song : ${songQueryVoList}" class="song-hover" onmouseenter="songListHover(event)" onmouseleave="songListOut(event)">
                    <div class="large-7 columns">
                        <span class="song-name" th:text="${songStat.count + '&nbsp&nbsp&nbsp' + song.songDO.songName}"></span>
                    </div>
                    <!--<div class="large-1 columns">-->
                        <!--<a class="btn-play">试听</a>-->
                        <!--<input type="hidden" th:value="${songStat.index}">-->
                    <!--</div>-->
                    <div class="large-2 columns">
                        <a class="song-pick" data-reveal-id="pickModal">点歌</a>
                        <input type="hidden" th:value="${song.songDO.id}">
                    </div>
                    <div class="large-2 columns song-singer">
                        <a th:text="${song.songDO.songSinger}" href="#"></a>
                    </div>
                    <div class="large-1 columns">
                        <span class="song-time" th:text="${song.songDO.songTime}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <form onsubmit="return false;">
                <div class="panel large-12 columns" id="responseText" readonly></div>
                <div class="row collapse postfix-radius">
                    <div class="small-9 columns">
                        <input type="text" name="message" id="message" placeholder="请输入要发送的内容" style="height: 50px;">
                    </div>
                    <div class="small-3 columns">
                        <button class="button postfix" style="height: 50px;" onclick="send(this.form.message.value);$('#message').val('');">发送</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="aplayer"></div>
    </div>

</body>
<script th:inline="javascript">

    var songOrderDetailList = [[${songOrderDetailList}]];
    var songOrderId = '';

    var chatSocket;
    var songSocket;

    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }

    if (window.WebSocket) {
        var account = [[${session.user.account}]]
        chatSocket = new WebSocket('ws://localhost:8080/chatSocket/' + account);
        chatSocket.onmessage = function (event) {
            var ta = $('#responseText');
            ta.html(ta.html() + '<br>' + event.data);
        };
        chatSocket.onopen = function (event) {
            var ta = $('#responseText');
            ta.html('<font color="#32cd32">系统消息：芝士YELLOW依法对直播内容进行24小时巡查，禁止传播违法违规、封建迷信、暴力血腥、低俗色情、招嫖诈骗、违禁品等不良信息，坚决维护青少年群体精神文明健康。请勿轻信各类招聘征婚、代练代抽、刷钻、购买礼包码、游戏币、电商贩卖等广告信息，以免上当受骗。</font>');
        } ;
        chatSocket.onclose = function (event) {
            var ta = $('#responseText');
        };

        songSocket = new WebSocket('ws://localhost:8080/songSocket/' + account);
        songSocket.onopen = function (ev) {
            console.log("连接开启");
        }
        songSocket.onmessage = function (event) {
            var messageSplite = '---->>>>';
            console.log(event.data);
            var statusArray = event.data.split(messageSplite);

            $('#table-image').attr('src',statusArray[2]);
            $('#table-title').html('<i class="fa fa-headphones"></i>&nbsp;正在播放-' + statusArray[3] + '&nbsp;下一首-' + statusArray[4]);
            $('#table-account').html('来自&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>' + statusArray[5]);
            $('#table-toname').html('送给&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>' + statusArray[6]);
            $('#table-message').html('&nbsp;&nbsp' + statusArray[7]);

            if (songOrderId != statusArray[1]) {
                ap.list.clear();
                $.each(songOrderDetailList, function (i, item) {
                    if (statusArray[1] == item.songOrderId) {
                        ap.list.add([{
                            name: item.songName,
                            artist: item.songSinger,
                            url: item.url,
                            cover: item.pic,
                            lrc: item.lrc
                        }]);
                        return ;
                    }
                });
                if ('played' == statusArray[0]) {
                    ap.play();
                }
                songOrderId = statusArray[1];
            } else {
                if ('played' == statusArray[0]) {
                    ap.play();
                } else if ('paused' == statusArray[0]) {
                    ap.pause();
                }
            }



        }
        songSocket.onclose = function (ev) {
            console.log("连接关闭");
        }

    } else {
        alert('你的浏览器不支持 WebSocket !');
    }

    function send(message) {
        if(!window.WebSocket) {
            return ;
        }
        if (chatSocket.readyState == WebSocket.OPEN) {
            chatSocket.send(message);
        } else {
            alert('连接没有开启！');
        }
    }

    var ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        lrcType: 3,
        volume: 0.7,
        mutex: true,
        listFolded: false,
        listMaxHeight: '260px',
        audio: [
        ]
    });

    $(function () {

        $.get('/song/getStatus', function (data) {
            if (data != null && data.length > 0) {
                var messageSplite = '---->>>>';
                console.log(data);
                var statusArray = data.split(messageSplite);

                $('#table-image').attr('src',statusArray[2]);
                $('#table-title').html('<i class="fa fa-headphones"></i>&nbsp;正在播放-' + statusArray[3] + '&nbsp;下一首-' + statusArray[7]);
                $('#table-account').html('来自&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>' + statusArray[8]);
                $('#table-toname').html('送给&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>' + statusArray[9]);
                $('#table-message').html('&nbsp;&nbsp' + statusArray[10]);

                ap.list.clear();
                ap.list.add([{
                    name: statusArray[3],
                    artist: statusArray[4],
                    url: statusArray[5],
                    cover: statusArray[2],
                    lrc: statusArray[6]
                }]);
                if ('played' == statusArray[0]) {
                    ap.play();
                } else if ('paused' == statusArray[0]) {
                    ap.pause();
                }
                songOrderId = statusArray[1];
            }
        });

        // $('.btn-play').click(function () {
        //     ap.list.switch($(this).next('input').val());
        //     ap.play();
        // });

        ap.on('play', function () {
            $.each(songOrderDetailList, function (i, item) {
                if (item.url === ap.audio.src) {
                    $('title').text(item.songName + ' - ' + item.songSinger);
                    return false;
                }
            })
        });
    })

</script>
</html>